{% extends "base.html" %}
{% load static %}
{% block content %}

<!--=====================================================-->
<!--======================= Intro =======================-->
<!--=====================================================-->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="jumbotron">
          <h2>THE VACATION <span class="highlight primary">SPECIALISTS</span></h2>
          <hr>
            <ul class="list list-ok strong bigger">
              <li>A reliable, friendly, family-owned company</li>
              <li>Vacation packages to Mexico, Hawaii,
                  Caribbean and more!</li>
              <li>Over 900 travel destinations!</li>
            </ul>
              <a class="btn btn-color-primary btn-lg btn-block" href="#" role="button">Learn more</a>
        </div>
      </div>
      <div class="testimonial_container">
      <div class="row">
          <div class="span6 test-head">
            <h5>What people are saying about us...</h5>
            <div class="testmonial_slider">
              <ul class="slides">
                <li>
                  <div class="testimonial_item">
                    <p> 
                        The value of having a strong partner in your corner when planning a vacation abroad is priceless. Having said that, Janus Travel should be your choice! 
                    </p>
                    <span class="author">Johny doe</span>
                    <span class="occupation">Graphic and HTML Web Designer</span>
                    <!-- end testmonial -->
                  </div>
                </li>
                <li>
                  <div class="testimonial_item">
                    <p>
                        Love love this travel agency! Have used their services for years and would not change to anyone else!
                    </p>
                    <span class="author">John Doe</span>
                    <span class="occupation">CEO Engineer</span>
                    <!-- end testmonial -->
                  </div>
                </li>
                <li>
                  <div class="testimonial_item">
                    <p>
                      Wonderful agency. Always there to help you and get you the best possible rates! I have been a customer for years & years.
                    </p>
                    <span class="author">Mary Lesniak</span>
                    <span class="occupation">Long time customer</span>
                    <!-- end testmonial -->
                  </div>
                </li>
              </ul>
              <!-- end testmonial slider -->
            </div>
          </div>
    </div>
  </div>
</section>
<!--=====================================================-->
<!--=================== Feature ====================-->
<!--=====================================================-->
<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="features">
          <div class="icon">
            <i class="icon-bg-light icon-circled fas fa-sun icon-5x active"></i>
          </div>
          <div class="features_content">
            <h3>Funjet Sale</h3>
            <p class="left">
              Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium
              imperdiet in pri mel virtute nam.
            </p>
            <a href="#" class="btn btn-color-funjet btn-rounded"><i class="icon-angle-right"></i> Read more</a>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="features">
          <div class="icon">
            <i class="icon-bg-dark icon-circled fas fa-cocktail icon-5x"></i>
          </div>
          <div class="features_content">
            <h3>All-Inclusives</h3>
            <p class="left">
              Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium
              imperdiet in pri mel virtute nam.
            </p>
            <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="features">
          <div class="icon">
            <i class="icon-bg-dark icon-circled fas fa-umbrella-beach icon-5x"></i>
          </div>
          <div class="features_content">
            <h3>Hawaii</h3>
            <p class="left">
              Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium
              imperdiet in pri mel virtute nam.
            </p>
            <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
